:root {
    --accent-color: #404BBF;
    --logotype-font-family: "Raleway", sans-serif;
    --name-header: "Roboto", sans-serif;
}

/* ----------------HEADER-LOGO-------------- */
.nav-page:hover,
.nav-page:focus {
    color: #404BBF;
}

address {
    font-style: normal;
}

.nav-page, 
.logotype {
    font-family: var(--logotype-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17; 
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.nav-page,
.color-text {
    font-family: var(--logotype-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.nav-page,
.menu-link,
.nav-item,
.nav-list {
    font-family: var(--name-header);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-item:hover,
.nav-item:focus {
    color: #404BBF;
}

.contact-page,
.menu-link,
.contact-item,
.contact-list {
    font-family: var(--name-header);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.contact-item,
.contact-list {
    color: #404BBF;
}

body {
    font-family: var(--name-header);
    color: #434455;
    background-color: #FFFFFF;
}
/* ---------------------------------------- */

/* ------------HERO-IMAGE------------------ */
.hero-page,
.hero-title {
    font-family: var(--name-header);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}

.hero-page,
.hero-button {
    font-family: var(--name-header);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.hero-button {
    background-color: #4D5AE5;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

.hero-page {
    background-color: #2E2F42;
}

button {
    cursor: pointer;
}
/* --------------------------------------- */

/* --------------SECTION-ADVANTAGES--------------- */
.advantages-page,
.menu-list,
.advantages,
.title {
    font-family: var(--name-header);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.advantages-page,
.menu-list,
.advantages,
.text {
    font-family: var(--name-header);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ----------------------------------------- */

/* ---------------SECTION-OUR-TEAM-------------- */
.our-team-page,
.title-our-team {
    font-family: var(--name-header);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
}

.our-team-page,
.menu-list,
.our-team-item,
.title {
    font-family: var(--name-header);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.our-team-page,
.menu-list,
.our-team-item,
.text {
    font-family: var(--name-header);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team-page {
    background-color: #F4F4FD;
}

.our-team-item {
    background-color: #FFFFFF;
}
/* ------------------------------------------- */

/* --------------SECTION-OUR-PORTFOLIO------------ */
.portfolio-page,
.portfolio-title {
    font-family: var(--name-header);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    text-transform: capitalize;
}

.portfolio-page,
.menu-list-portfolio,
.portfolio-item,
.title {
    font-family: var(--name-header);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.portfolio-page,
.menu-list-portfolio,
.portfolio-item,
.text {
    font-family: var(--name-header);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.portfolio-page {
    background-color: #FFFFFF;
}
/* --------------------------------------------- */

/* ---------------FOOTER-PAGE------------------- */
.footer-page,
.logotype-link {
    font-family: var(--logotype-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-page,
.color-text {
    font-family: var(--logotype-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-page,
.footer-text {
    font-family: var(--name-header);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer-page {
    background-color: #2E2F42;
}
/* ---------------------------------------- */