:root {
    --accent-color: #404BBF;
    --logotype-font-family: "Releway", sans-serif;
    --name-header: "Roboto", sans-serif;
}

/* ----------------HEAD-LOGO-------------- */
.navigation-page .logotype .color-text {
    font-family: var(--logotype-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #2E2F42;
}

.navigation-page .logotype {
    font-family: var(--logotype-font-family);
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.nav-page .nav-menu {
    font-family: var(--name-header);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.nav-page .nav-content {
    font-family: var(--name-header);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.link {
    text-decoration: none;
}

.menu-list {
    list-style-type: none;
}
/* ---------------------------------------- */

/* ------------HERO-IMAGE------------------ */
.menu-link:hover,
.menu-link:focus {
    color: var(--accent-color);
}

.hero-page .header {
    font-family: var(--name-header);
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.hero-page .button-text {
    font-family: var(--name-header);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.header-page .image {
    background-color: #2E2F42;
}

button {
    cursor: pointer;
}
/* --------------------------------------- */

/* --------------SECTION-SKILL--------------- */
.section-skill .section-header {
    font-family: var(--name-header);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-skill .section-body {
    font-family: var(--name-header);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ----------------------------------------- */

/* ---------------SECTION-TEAM-------------- */
.section-team .section-header {
    font-family: var(--name-header);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-team .section-header-cotent {
    font-family: var(--name-header);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-team .section-card-body {
    font-family: var(--name-header);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ------------------------------------------- */

/* --------------SECTION-PORTFOLIO------------ */
.section-portfolio 
.portfolio-header {
    font-family: var(--name-header);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-portfolio
.portfolio-row
.row-top-header {
    font-family: var(--name-header);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-portfolio
.portfolio-row
.row-top-body {
    font-family: var(--name-header);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-portfolio
.portfolio-row
.row-bottom-header {
    font-family: var(--name-header);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-portfolio
.portfolio-row
.row-bottom-body {
    font-family: var(--name-header);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* --------------------------------------------- */

/* ---------------FOOTER-PAGE------------------- */
.footer-page
.logo-web {
    font-family: var(--logotype-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.footer-page
.logo-studio {
    font-family: var(--logotype-font-family);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #F4F4FD;
}

.footer-page
.footer-text {
    font-family: var(--name-header);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

.footer-page
.footer-font {
    background-color: #2E2F42;
}

.hero-page {
    background-color: #2E2F42;
}

.hero-button:hover,
.hero-button:focus {
    color: #404BBF;
}

.our-team-page {
    background-color: #F4F4FD;
}

.our-team-page .menu-list:hover, 
.menu-list:focus {
background-color: #FFFFFF;
}

.footer-page {
    background-color: #2E2F42;
}
/* ---------------------------------------- */